
.Rproj.user/AD8D81C5/console06/INDEX001
*.pper
.Rproj.user/AD8D81C5/persistent-state
.Rproj.user/AD8D81C5/rmd-outputs
.Rproj.user/AD8D81C5/saved_source_markers
.Rproj.user/AD8D81C5/sources/per/t/318554A1
.Rproj.user/AD8D81C5/sources/per/t/318554A1-contents
.Rproj.user/AD8D81C5/sources/per/t/82AA9D0B
.Rproj.user/AD8D81C5/sources/per/t/82AA9D0B-contents
.Rproj.user/AD8D81C5/sources/per/t/BD17C19B
.Rproj.user/AD8D81C5/sources/per/t/BD17C19B-contents
.Rproj.user/AD8D81C5/sources/per/u/370780BC
.Rproj.user/AD8D81C5/sources/per/u/370780BC-contents
.Rproj.user/AD8D81C5/sources/prop/5A63B800
.Rproj.user/AD8D81C5/sources/prop/64A5B8C4
.Rproj.user/AD8D81C5/sources/prop/82D079E7
.Rproj.user/AD8D81C5/sources/prop/B89CE66A
.Rproj.user/AD8D81C5/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
